{% include '_header.html.twig' %}


{% block body %}
    Top Burgers in research :
    <ul>
        {% if top_burgers is not empty %}
            {% for top_burger in top_burgers %}
                <li>{{ top_burger.name }}</li>
            {%endfor%}
        {% else %}
            <p>No burger found</p>
        {% endif %}
    </ul>
    <nav> <a href="{{   path('somme')  }}">Lien vers la somme</a></nav>
{% endblock %}

{% include '_footer.html.twig' %}