{% include '_header.html.twig' %}
{% extends 'heritage.html.twig' %}

{% block title %}
    Liste des burgers 
{% endblock title %}

{% block body %}
    Voici la liste burgers
    <nav> <a href="{{   path('somme')  }}">Lien vers la somme</a></nav> 
{% endblock body %}
{% include '_footer.html.twig' %} 